{% extends "layout.html" %}

{% block content %}
<div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{user.email}}</p>
        <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following</p>
        {% if user == current_user %}
                <p><a href="{{ url_for('users.account') }}">Edit your profile</a></p>
                {% elif not current_user.is_following(user) %}
                <p>
                    <form action="{{ url_for('users.follow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Follow', class="btn btn-primary") }}
                    </form>
                </p>
                {% else %}
                <p>
                    <form action="{{ url_for('users.unfollow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Unfollow', class="btn btn-dark") }}
                    </form>
                </p>
                {% endif %}
      </div>
    </div> 
  </div>
   
{% endblock %}